<div class="container">

    <h1>Hi!</h1>
    <p>To reset your password, please visit the following link</p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
    <p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heures.</p>
    <p>Cheers!</p>

</div>