<a href="{{ path('room') }}" class="btn btn-primary">Retour</a>


{{ form_start(form) }} {# appel à la méthode form  // voir RoomController 'form' #}
<div class="row">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.description) }}</div>
</div>

<div class="row">
    <div class="col-md-4">{{ form_row(form.capacity) }}</div>
    <div class="col-md-4">{{ form_row(form.city) }}</div>
</div>
<button class="btn btn-primary">Valider</button>

{{ form_end(form) }}