{% extends 'base.html.twig' %}
    {% block title %}Ajouter une salle{% endblock %}
    {% block body %}
        <div class="container">
            <h1>Ajouter une salle </h1>

            {{ include('room/_form.html.twig') }}

        </div>


    {% endblock %}